# Copy to .env.local (keep secret, do not commit)
VITE_SEPOLIA_RPC_URL=https://sepolia.infura.io/v3/e427a73902f6495bb9110915e17f38c9
VITE_ADMIN_PRIVATE_KEY=<admin_private_key>
VITE_INFURA_API_KEY=e427a73902f6495bb9110915e17f38c9
VITE_INFURA_GAS_API_URL=https://gas.api.infura.io/v3/e427a73902f6495bb9110915e17f38c9
VITE_INFURA_MAINNET_RPC_URL=https://mainnet.infura.io/v3/e427a73902f6495bb9110915e17f38c9
VITE_COMPANY_REGISTRY_ADDRESS=<deployed_company_registry_address>
VITE_COMPANY_FUND_AMOUNT_ETH=0.1
